.MuiButtonBase-root {
    background: #FF9C20;
    color: white;
}

.MuiButtonBase-root:active{
    background: #FF9C20;
    color: white;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    color: #FF9C20;
    background: white;
}


.pagination {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.page-item{
    background: #fff;
    padding: 10px;
    border: 1px solid #FF9C20;
    margin-right: 10px;
    border-radius: 5px;
    color: #FF9C20;
}

.page-item.active {
    background: #FF9C20;
    color: #fff;
}

.per, .next {
    position: relative;
    width: 20px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 0px;

}
.next {
    margin: 0 0;
}

.per:after{
    content: "<";
    font-size: 16px;
    color:#FF9C20 ;
}
.next:after{
    content: ">";
    font-size: 16px;
    color:#FF9C20 ;
}

