.cantainer {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.header{ 
    display: flex;
    justify-content: space-around;
    padding: 30px 5%;
}

.filterLeft {
    display: flex;
}

.filterBox {
    display: flex;
    justify-content: space-between;
    padding: 15px 6%;
}

.content{
    display: flex;
    padding: 0px 6% 15px;
}
.category {
    margin-right: 30px;
}

.productBox {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
   
}


/* .pagination{
    padding: 0px 6% 10px;
    display: flex;
    justify-content: center;
} */

.paginate{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    padding: 0 20px;
    color: #FF9C20;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 40px;
}

