.check-box {
  padding: 1rem;
  width: 300px;
}

.box-top {
  display: flex;
  justify-content: space-between;
}
.box-top > div {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.box-top > div:not(:first-child) {
  text-align: right;
}
#id {
  font-size: 14px;

}
.username {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: .5rem;
  margin-top: 12px;
}
.table-id {
  font-size: 20px;
  margin-bottom: 0.5rem;
}
.content {
  max-width: 50px;
  width: 50px;
}
table {
  border-collapse: collapse;
}
thead tr th:nth-child(2) {
  /* border: none; */
  border-top: 2px solid;
}
/* tbody tr > td:nth-child(2) {
  border: none;
} */
table th {
  height: 50px;
}
td,
th {
  border: 2px solid black;
  padding: 4px;
  font-size: 10px;
}
.rotate {
  rotate: 90deg;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.total > * {
  border-top: none;
  border-bottom: 2px solid;
  border-left: 2px solid;
  padding: 4px;
}
.total > div:last-child {
  border-right: 2px solid;
}
.check-total {
  width: 100%;
}
.check-amount {
  max-width: 70px;
  width: 70px;
}
.check-price {
  width: 52%;
}
.block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 1rem;
  font-size: 12px;
}
.block-right {
  border: 2px solid;
  padding: 4px;
  margin-left: 2rem;
  min-width: 100px;
  text-align: right;
}
