.titleBox {
    padding: 0 6%;
}

.productBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 30px 6%;
}

.filterBox {
    display: flex;
    justify-content: space-between;
    padding: 0px 6%;
}