.container {
    height: 100vh;
}

.topBox {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.bottomBox {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}